class PlankaCli < Formula
  desc "CLI for Planka using plankapy"
  homepage "https://github.com/voydz/planka-cli"

  on_macos do
    on_arm do
      url "https://github.com/voydz/planka-cli/releases/download/v@VERSION@/planka-cli-@VERSION@-macos-arm64.tar.gz"
      sha256 "@SHA256_MACOS_ARM64@"
    end
    on_intel do
      url "https://github.com/voydz/planka-cli/releases/download/v@VERSION@/planka-cli-@VERSION@-macos-x86_64.tar.gz"
      sha256 "@SHA256_MACOS_X86_64@"
    end
  end

  on_linux do
    on_intel do
      url "https://github.com/voydz/planka-cli/releases/download/v@VERSION@/planka-cli-@VERSION@-linux-x86_64.tar.gz"
      sha256 "@SHA256_LINUX_X86_64@"
    end
    on_arm do
      url "https://github.com/voydz/planka-cli/releases/download/v@VERSION@/planka-cli-@VERSION@-linux-arm64.tar.gz"
      sha256 "@SHA256_LINUX_ARM64@"
    end
  end

  def install
    bin.install "planka-cli"
  end

  test do
    system bin/"planka-cli", "--help"
  end
end
